# Entry Production
#export AWS_PROFILE=infratest-prod
#export TF_VAR_region=ap-northeast-1

# Entry Staging / Development
export AWS_PROFILE=infratest-dev
export TF_VAR_region=us-east-1

# Common
export AWS_REGION=us-east-1
